.App{
  background-color: #f6f6fa;
  overflow: hidden;
}
.app-video{
  position: relative;
  width: 810px;
  left: 50px;
}
.scrolling{
  overflow-y: scroll;
  height: 850px;
  scrollbar-width: none;
}
.home{
  position: relative;
  width: 1450px;
  bottom: 10px;
}
.edit-button{
  float: left;
}
.about-page{
  background-color: lightgreen;
}
.Navbar{
  background-color: lightgreen;
  overflow: hidden;
}
.app-logo{
  position: relative;
  float: left;
}
.efficiency{
  position: relative;
  float: left;
  left: 20px;
  /* bottom: 6px */
  top: 6px;
  height: 400px;
}
.user-info{
  float: left;
  position: relative;
  top: 20px;
  height: 400px;
  left: 10px;

}
.user-minutes{
  position: relative;
  left: 50px;
}
.sort-options{
  position: relative;
  margin-top: 10px;
  float: left;
  left: 70px;
}
.app-title{
  position: relative;
  float: left;
  font-weight: bolder;
  font-style: oblique;
  color: darkgreen;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
}
.app-title a:link{
  color:darkgreen
}
.app-title a:visited{
  color:darkgreen
}
.nav-buttons{
  position: relative;
  float: left;
  top: 15px;
}
.home-nav-buttons{
  background-color: #90ee90;
  position: absolute;
  top: 14px;
  left: 390px;
}
.logout-button{
  position: absolute;
  left: 700px;
}
.about-button{
  position: absolute;
  left: 788px;
}
.login-section{
  position: relative;
}
.calendar-section{
  position: relative;
  margin: 10px;
}
.stack-description{
  text-indent: 10px;
}
.stack-length{
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.list-view{
  width: 50%;
  float: left;
  margin: 10px;
}
.task-stack{
  position: relative;
  /* float: left; */
  bottom: 10px;
  min-width: 100%;
  height: 200px;
  background-size: contain;
}
.task-stack-group{
  position: relative;
  left: 5%;
  margin: 10px;
}
.task-section{
  overflow: hidden;
  min-width: 1000px;
}
.task-editing{
  position: relative;
  right: 100%;
  min-width: 50%;
  width: 900px; 
}
.show-task{
  position: relative;
  float: left;
  text-align: left;
}
.new-task{
  position: relative;
}